* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
}

.main {
    width: 50rem;
}

.heading {
    font-size: 1.3rem;
    margin: 2rem 0;
    text-align: center;
}

.form {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
}

.input,
.btn {
    outline: none;
    width: 45%;
    height: 3rem;
    padding: 0 1rem;
}

.age,
.gender,
.nationality {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

@media (max-width: 600px) {
    html {
        font-size: 56.25%;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 50%;
    }

    .main {
        margin: 0 2rem;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 43.75%;
    }

    .form {
        flex-direction: column;
        margin: 2rem 0;
    }

    .input,
    .btn {
        margin: 1rem 0;
        width: 100%;
    }

    .age p,
    .gender p,
    .nationality p {
        margin: 1rem 0;
    }
}